.listing {
    color: white;
    text-align: center;
}

.listing-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.extended-desc {
    text-align: center;
    color: white;
}

.extended-desc a {
    color: white;
    text-decoration: underline;
}