body {
    background-color: #424549;
    font-family: 'Lato', sans-serif;
}

.header-text {
    text-align: center;
    color: white;
}

.header-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.topnav {
    background-color: #7289da;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.topnav a:hover {
    background-color: #424549;
    color: white;
}

a {
    text-decoration: none;
}

.WIP-text {
    color: red;
    text-decoration: solid;
    text-align: center;
}

.WIP-text a {
    text-decoration: underline;
    color: red;
    font-weight: bold;
}

.discord-widget {
    position: absolute;
    bottom: 0%;
    right: 0%;
}