body {
    background-color: #424549;
    font-family: 'Lato', sans-serif;
}

.header-text {
    text-align: center;
    color: white;
}

.header-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.WIP-text {
    color: #ff4242;
    text-decoration: solid;
    text-align: center;
}

.WIP-text a {
    text-decoration: underline;
    color: #ff4242;
    font-weight: bold;
}