/* Fade in animation */
body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

/* Main styling begins here */

body {
    background-color: black;
    font-family: 'Lato', sans-serif;
    /* background-image: url(https://i.iodine.gg/6ah3e.png); Maybe add back? yeah probably not... */
}

.topnav {
    padding-top: 0px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.topnav a:hover {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
}

.nav-active {
    background-color: black;
    color: white;
}