body a {
    text-decoration: none;
}

.header-text {
    text-align: center;
    color: white;
}

.ap-listing-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ap-listing-link a, h3{
    color: white;
    text-align: center;
    text-decoration: underline;
}